/* set Layout to two columns and two tabs*/
.columns {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* set layout for tabs */
#tab_1 {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 28px;
}
#tab_2 {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 28px;
}
#tab_3 {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 28px;
}

/* set font layout */
h1 {    /* "Dashboard zur Zufriedenheit in der Schweiz" */
    color: #FFFFFFFF;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 12px;
}
h2 {    /* "Exploration der allgemeinen Lebensqualität" */
    color: #FFFFFFFF;
    font-size: 26px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 18px;
}
h3 {    /* "Bitte wählen Sie eine bevorzugte Farbe für die Anzeige der Grafiken:" */
    color: #FFFFFFFF;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin-top: 18px;
    margin-bottom: 6px;
}
h4 {    /* Titel über den Grafiken */
    color: #FFFFFFFF;
    font-size: 22px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 0px;
}
p {     /* Beschriftung von Filter zu Grafiken */
    color: #FFFFFFFF;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* set background layout */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    /*margin: 8px;   Entfernt den Standardabstand von 8px um den Körper */
    /*"padding: 8px;   Entfernt den Standardabstand von 8px um den Körper */
}

#dropdown_color {
    color: #000000;
    padding: 3px;   /* Dicke des Rahmens */
    background-color: #c7d0d1;
    border-radius: 5px; /* runde Ecken */
    cursor: pointer;    /* Handzeiger */
    margin-top: 6px;
    margin-bottom: 18px;
    font-family: Arial, sans-serif;
    font-weight: normal;
}